 <% if user_signed_in? %>
<div class="text-center outlay">
  <h1>Blocmetircs:</h1>
  <h2>An analytic service for your websites</h2>
  <h3 class="btn btn-info"><%= link_to "Your Applications", user_applications_path(current_user) %></h3>
</div>

<% else %>
<div class="text-center outlay">
  <h1>Blocmetircs:</h1>
  <h2>An analytic service for your websites</h2>
</div>
<% end %>
